<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="{{ url_for('static',filename='CSS/styles.css') }}" rel="stylesheet" type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <title> Readers Paradise - Sign Up </title>
</head>

    <body>
        <header>

            <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm box-shadow">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong><i class="far fa-futbol"></i>Readers Paradise - Sign Up</strong>
                    </a></nav><br/></header><br />
                    
                    <main>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <h2>Register</h2>
                                    <p>{{msg}}</p>
                                    <form action="/register/" class="form" method="post">
                                        <input type="text" name="uname" id="uname" placeholder="User Name" autofocus required> <span id="user-msg" class="alert alert-danger"></span><br /><br />
                                        <input type="password" name="pwd" id="pwd" placeholder="Password" required> <span id="password-msg" class="alert alert-danger"></span><br /><br />
                                        <input type="password" name="confirmpwd" id="confirmpwd" placeholder="Confirm Password" required> <span id="confirm-msg" class="alert alert-danger"></span><br /><br />
                                        <input type="text" name="fname" id="fname" placeholder="First Name" required> <span id="fname-msg" class="alert alert-danger"></span><br /><br />
                                        <input type="text" name="lname" id="lname" placeholder="Last Name" required> <span id="lname-msg" class="alert alert-danger"></span><br /><br />
                                        <input type="email" name="email" id="email" placeholder="Email Address" required> <span id="email-msg" class="alert alert-danger"></span><br /><br /><br />
                                        <button type="reset" class="btn btn-secondary">Clear</button>
                                        <button type="submit" id="submit" class="btn btn-primary">Sign Up</button>
                                    </form>
                                </div></div></div></main>
        
        <script src="{{ url_for('static',filename='JS/validation.js') }}"></script>
    </body>
</html>